.c-container{
    justify-content: space-between ;
}

.c-container>div{
    flex:1 ;
}

.c-right{
    width:100% ;
}

.c-left{
    gap:0.5rem;
}

.contactModes{
    margin-top: 2rem;
    gap:1rem;
}

.contactModes .row{
    gap:1.5rem;
}

.mode {
    width:16rem !important;
    padding:1rem !important;
    border: 3px solid rgba(128,128,128,0.143) !important;
    border-radius:5px !important;
    gap:1rem !important;
    transition:all 300ms ease-in !important;
}

.mode .button{
    width:100% !important;
    background: var(--lightBlue) !important;
    color: var(--blue) !important;
    font-size:0.9rem !important;
    align-items:center !important; 
}

.mode>:nth-child(1){
    width:100% !important;
    gap:1.6rem !important;
}

.mode:hover{
    scale:1.1 !important;
    box-shadow:var(--shadow) !important;
}

.mode .button:hover{
    background: var(--blue-gradient) !important;
    color:white !important;
    scale:0.8 !important;
}

@media(max-width:768px){
    .c-container{
        flex-direction: column;
    }
    .c-right{
        justify-content: center;
    }
    .contactModes{
        width:100%;
    }
    .row{
        flex-direction: column;
        width:100%;
    }
    .mode{
        width:100%;
    }
}